@import 'fonts';
@import 'colours';

* {
    margin: 0;
    padding: 0;
}

body {
    background: $body-bg;
    color: $body-txt;
    font: normal normal 100%/150% 'Ubuntu', Verdana, Arial, san-serif;
    display: grid;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Yanone Kaffeesatz";
    font-weight: 200;
}

code {
    color: $code-orange;
    font-weight: 100;
}

