@import '../node_modules/bootstrap/scss/bootstrap';
@import 'fonts';
@import 'colours';

body {
    font: normal normal 100%/150% 'Raleway', Verdana, Arial, san-serif;
}

main {
    min-height: calc(100vh - 4rem);

    .breadcrumb {
        margin: .5rem 0 1rem;
        padding: 0 0 .5rem;
        border-bottom: 1px dotted #ccc;

        ul {
            display: block;

            li {
                display: block;
                float: left;
            }
        }

        a {
            padding: .5rem;
        }
        
    }
    .content {
        margin: 1rem 2rem;
    }
    section {
        display: grid;
        // grid-template-columns: 1 auto;
        // grid-template-areas: 'side copy copy';

        // aside {
        //     grid-area: 'side';
        //     margin-right: 2rem;
        // }
        article {
            // grid-area: 'copy';
            padding: 0 2rem 2rem;
        }
    }
    
    .floatright img {
        float: right;
        margin:  0 0 1rem 2rem;
    }
    .floatleft img {
        float: left;
        margin: 0 1rem 2rem 0;
    }
    .portrait img {
        border: 20px solid white;
        box-shadow: 0 0 7px #888;

    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
    margin-bottom: 1.5rem;
}

code {
    color: $code-orange;
    font-weight: 100;
}
.hero {
    background: transparent url("../css/weestoater-background.png") center center no-repeat;
    background-size: cover;
    height: 275px;
    margin-bottom: 1rem;
    
    h1 {
        padding: 0 0 0 1rem;
        text-align: left;
        color: white;
        background: rgba(0,0,0,.5);
    }
    .strapline {
        margin: -1.5rem 0 0;
        color: $code-orange;
        background: rgba(0,0,0,.5);
        padding: 0 0 .5rem 1rem;
    }
}

.grid {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat( 4, 1fr);
    gap: 1rem;

    .col {
        border: 1px dotted #ccc;
        padding: 1rem;

        h2 a {
            text-decoration: none;
        }
    }

    @media (max-width: 1024px) {
        grid-template-columns: repeat(1, 1fr);
        .col {
            border: none;
            border-bottom: 1px dotted #888;
            padding-bottom: 1rem;
        }
    }

}

.blog-cards {
    display: grid;
    grid-template-columns: repeat( 5, 1fr);
    gap: 1rem;

    .card-footer {
       font-size:.85rem;
    }
}

footer {
    background: $footer-bg;
    color: $footer-txt;
    font-size: .9rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: .5rem 1rem .25rem;
    gap: 1rem;

    .col {
        border-right: 1px dotted #666;
        padding: .5rem 1rem;
        &:last-child {
            border: none;
        }
    }

    .icon img {
        max-width: 64px;
    }
    ul.list-group {
        background: transparent !important;
        border: none;
        margin: 0;
        padding: 0;
    }
    li.list-group-item {
        background: transparent !important;
        border: none;
        margin: 0 0 .5rem;
        padding: 0;
    }
    a {
        padding: 0;
        color: cornflowerblue
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
        .col {
            border: none;
            border-bottom: 1px dotted #888;
            padding-bottom: 1rem;
        }
    }


}

