<footer class="footer">
    <div class="col">&copy 2007-22 &middot; another weestoater creation</div>
    <div class="col">
        <p><strong>My influences</strong></p>
        <ul class="list-group">
            <li class="list-group-item"><a href="http://www.zeldman.com" target="_blank" title="Father of the modern web">zeldman <i class="fas fa-external-link-alt"></i></a></li>
            <li class="list-group-item"><a href="http://www.heydonworks.com" target="_blank" title="Accessibility with heart">heydonworks <i class="fas fa-external-link-alt"></i></a></li>
            <li class="list-group-item"><a href="https://kentcdodds.com/" target="_blank" title="Testing Evangelist">kent c. dodds <i class="fas fa-external-link-alt"></i></a></li>
            <li class="list-group-item"><a href="http://www.stuffandnonsense.co.uk" target="_blank" title="Design excellence with passion">stuff and nonsense <i class="fas fa-external-link-alt"></i></a></li>
        </ul>
    </div>
    <div class="col">
        <p><strong>Disclaimer</strong></p>
        <p>The views and opinions expressed are entirely the author's. They are not endorsed by &amp; do not reflect the views of the author's employer or any other party.</p>
    </div>
    <div class="col">
        <p><strong><i>anti</i> social</strong></p>
        <p>
            <a href="http://www.twitter.com/burtware" class="icon"><img src="/img/twitter-icon.png" /></a> 
            <a href="http://www.instagram.com/burtware" class="icon"><img src="/img/instagram-icon.png" /></a> 
            <a href="http://www.linkedin.com/in/ianburrett" class="icon"><img src="/img/linkedin-icon.png" /></a>
        </p>
    </div>
</footer>