{{ define "main" }}
<div class="content">
<article>
    <h1>{{ .Title | markdownify }}</h1>
    {{ .Content }}
    <div class="blog-cards">
    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages }}
        <div class="card">
            <div class="card-header">
                <a href="{{.Permalink}}">{{.Title}}</a>
                
                <small class="float-end"><span class="date">{{.Date.Format "02/01/06"}}</span></small>
            </div>
            <img src="{{ .Description }}" alt="" class="img-fluid" />
            
            <div class="card-body">

            </div>
            <div class="card-footer">
                <span class="badge bg-info">Tags</span> <span class="summary">{{ .Summary }}</span>
            </div>
        </div>
    {{ end }}
    </div>

</article>
</div>
{{ end }}