{{ define "main" }}

<article>
    <h1>{{ .Title | markdownify }}</h1>
    {{ .Content }}
    <div class="blog-cards">
    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages }}
        <div class="card">
            <img src="{{ .Description }}" alt="" />
            <h2><a href="{{.Permalink}}">{{.Title}}</a></h2>
            <p>Published: <span class="date">{{.Date.Format "02/01/06"}}</span></p>
            <p>Tags: <span class="summary">{{ .Summary }}</span></p>
        </div>
    {{ end }}
    </div>

</article>

{{ end }}